<div class="container-fluid no-gutters question">
  <div class="row">
    <div class="col-1 question-score">
      <%= question.score %>
      <p>
        <strong>Answered:</strong>
        <%= question.answered %>
      </p>
    </div>
    <div class="col-6 question-body">
      <%= simple_format(question.body) %>
    </div>
    <div class="col-5 question-comments"></div>
  </div>
</div>
