<h1 class="pb-2 mt-4 mb-2 border-bottom"><%= question.title %></h1>

<p>
  <strong>Body:</strong>
  <%= question.body %>
</p>

<p>
  <strong>Score:</strong>
  <%= question.score %>
</p>

<p>
  <strong>Answered:</strong>
  <%= question.answered %>
</p>