<ul class="comments">
  <% commentable.comments.each do |comment| %>
    <li>
      <%= comment.body %>
      -
      <span class="text-primary"><%= comment.user.email %></span>
    </li>
  <% end %>
</ul>
<%# create new comment on this question %>
<%= render 'comments/form', commentable: commentable %>