<h1>Respostas</h1>
<% question.answers.each do |answer| %>
  <div><%= answer.body %> | <%= answer.user.email %></div>

  <br>

  <%# comments on this answer %>
  <%= render 'comments/comments', commentable: answer %>

  <br>

  <%# create new comment on this answer %>
  <%= render 'comments/form', commentable: answer %>
<% end %>