<h4>Sua Resposta</h4>

<%= form_for [question, Answer.new], html: { autocomplete: "off" } do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "new-answer", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Responder" %>
  </div>

  <div class="guidelines">
    <%= link_to "Como escrever uma boa resposta (stack overflow)", "https://stackoverflow.com/help/how-to-answer" %>
  </div>
<% end %>