<h4>Sua Resposta</h4>

<%= form_for [question, Answer.new], html: { autocomplete: "off" } do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "new-answer" %>
  </div>

  <div class="actions">
    <%= f.submit "Responder" %>
  </div>
<% end %>