// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "/variables";

.answer {
  font-size: 15px;
  padding: 0;
  margin-bottom: 8px;
  border-bottom: 1px solid $secondary-color;
  min-height: 12em;

  .answer-author {
    margin: 10px 0;
  }

  .answer-choose {
    margin: 10px 0;
    font-size: 0.66em;
  }

  .answer-chosen {
    margin: 10px 0;
    font-size: 0.66em;
    color: #5eba7d;
  }

  p {
    font-size: 15px;
  }
}

.new-answer {
  height: 10em;
  width: 100%;
}

.divide {
  margin-bottom: 2em;
}