/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// Imports tree and builds app styles.
@import "/\*";

@import 'bootstrap/glyphicons';

body {
  background-color: $background-grey;
  color: $font-grey;

  nav {
    border-bottom: 1px solid $border-brown;
  }
}

textarea {
  background-color: $background-grey;
  color: $font-grey;
  resize: none;
}

input {
  background-color: $background-grey;
  color: $font-grey;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
}

.score {
  text-align: center;
  font-size: 3em;
  line-height: 1em;

  .number {
    margin: 15px 0;
  }

  button {
    background-color: $background-grey;
    border: none;
    color: $font-grey;

    &.upvoted {
      color: $upvote-orange;
    }

    &.downvoted {
      color: $downvote-blue;
    }
  }

  .row {
    color: $font-grey;
    height: 1em;
  }
}

// .upvote, .downvote {
//   background-color: white;
//   width: 50px;
//   height: 50px;
//   text-align: center;
// }

.downvote {
  transform: rotateX(180deg)
}

// .glyphicon.glyphicon-arrow-up,
// .glyphicon.glyphicon-arrow-down {
//   font-size: 50px;
// }
