// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "/variables";

.header {
  border-bottom: 2px solid $secondary-color;
}

.question-short {
  padding: 10px 0;
  border-bottom: 1px solid $secondary-color;
  border-top: 1px solid $secondary-color;

  .question-engagement {
    text-align: center;
    font-size: 0.8em;
  }

  h2 {
    margin: 0;
  }
}

.question-long {
  font-size: 15px;
  padding: 0;
  margin-bottom: 8px;
  // border-bottom: 1px solid $secondary-color;
  min-height: 12em;

  .author {
    padding: 10px 10px;
    background-color: #323b42;
  }

  p {
    font-size: 15px;
  }
}

.question-form {
  label {
    font-size: 2em;
    padding: 10px 0;
  }
  .title {
    input {
      width: 100%;
    }
  }

  .body {
    textarea {
      width: 100%;
      height: 20em;
    }
  }
}
