// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "/variables";

.header {
  border-bottom: 2px solid $secondary-color;
}

.question {
  font-size: 15px;
  padding: 0;
  margin-bottom: 8px;
  // border-bottom: 1px solid $secondary-color;
  min-height: 12em;
}