<div class="container score">
  <div class="row upvote">
    <% if current_user === nil %>
      <button disabled=true>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </button>
    <% else %>
      <%= button_to [:upvote, votable], { class: ((current_user.voted_up_on? votable) ? 'upvoted' : '') } do %>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <% end %>
    <% end %>
  </div>
  <div class="row number">
    <span>
      <%= votable.cached_votes_score %>
    </span>
  </div>
  <div class="row downvote">
    <% if current_user === nil %>
      <button disabled=true>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </button>
    <% else %>
      <%= button_to [:downvote, votable], { class: ((current_user.voted_down_on? votable) ? 'downvoted' : '') } do %>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <% end %>
    <% end %>
  </div>
</div>