<div class="container score">
  <div class="row upvote">
    <button>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
  </div>
  <div class="row number">
    <span>
      <%= score %>
    </span>
  </div>
  <div class="row downvote">
    <button>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
  </div>
</div>